<div id="{{ key }}_body" data-numrows="0" data-actions="0" class=" {{ customClass }}">

</div>

<script type="text/javascript" nonce="{{ nonce or '2726c7f26c' }}">
    function addRow(row) {
        var table = $("#{{ key }}_body");
        table.append(row);
    };

    function addRows(rows) {

        for (let item in rows) {
            addRow(rows[item]);
        }
        $("#{{ key }}_body").append($("#{{ key }}_foot"));
        $("input[type=text]").each(function () {
            var label = $("label[for='" + $(this).attr('id') + "']");
            label.addClass("active");
        });
    };

    function addNewRow(row) {
        addRow(row);
        $("#{{ key }}_body").append($("#{{ key }}_foot"))
    };

    function updateActions(num) {
        let actions = $("#{{  key  }}_body").data('actions');
        let newactions = actions + num;
        $("#{{  key  }}_body").data('actions', newactions);
    }

    function showRemove() {
        $(".remove_row").each(function () {
            $(this).removeClass("d-none");
        });
    }

    function hideRemove() {
        $(".remove_row").each(function () {
            $(this).addClass("d-none");
        });
    }

    $.ajax({
        type: "GET",
        url: "/client/survey/{{ key }}/{{ id_form }}/rows/{{ id_submission }}",
        data: {},
        beforeSend: function () {
            $("#loader").removeClass("d-none");
            $("#{{ key }}_foot").addClass("d-none");
        },
        error: function (e) {
            $("#loader").addClass("d-none");
            alert("Errore Interno conttatare Helpdesk", e);
        },
        success: function (result) {
            let maxrows = $("#{{  key  }}_body").data('maxrows');
            addRows(result.rows);

            $("#loader").addClass("d-none");
        },
    });


</script>