<tr id="{{ row_id }}" class=" {{ rows_customClass }}">
    {% for component in items %}
        <td>{{ component.render(form_id, log=False)|safe }}</td>
    {% endfor %}
    <td class="remove_row" data-row_id="{{ row_id }}">
        <button type="button" class="btn btn-danger btn-xs btn-icon">
                <span class="rounded-icon rounded-danger">
                    <svg class="icon icon-white"><use
                            xlink:href="/static/svg/sprite.svg#it-close-circle"></use></svg>
                </span>
            <span class="sr-only">Rimuovi Riga</span>
        </button>
    </td>
</tr>
