<table id="{{ key }}" class="{{ customClass }} col-12 table-hover">
    <p>
        <span id="{{ key }}_numrows"></span>
        <span id="{{ key }}_numrowso" class="sr-only"></span>
    </p>
    <tbody id="{{ key }}_body" data-numrows="0" data-minrows="{{ min_rows }}" data-maxrows="{{ max_rows }}"
           data-actions="0">

    </tbody>
    <tfoot id="{{ key }}_foot" class="">
    <tr id="{{ key }}_AddRow">
        <td colspan="5">
            <button type="button" class="btn btn-primary btn-xs btn-icon"
                    id="{{ key }}_btn_add"
                    {% if  disabled %} disabled {%  endif  %}
            >
                    <span class="rounded-icon rounded-primary">
                        <svg class="icon icon-white"><use
                                xlink:href="/static/svg/sprite.svg#it-plus-circle"></use></svg>
                    </span>
                <span class="sr-only">Aggiungi Riga</span>
            </button>
        </td>
    </tr>
    </tfoot>
</table>
<script type="text/javascript" nonce="{{ nonce or '2726c7f26c' }}">


    function addRow(row) {
        var table = $("#{{ key }}_body");
        table.append(row);
    };

    function addRows(rows) {

        for (let item in rows) {
            addRow(rows[item]);
        }
        $("#{{ key }}_body").append($("#{{ key }}_foot"));
        $("input[type=text]").each(function () {
            var label = $("label[for='" + $(this).attr('id') + "']");
            label.addClass("active");
        });
        $('form').find('*').filter(':input:visible:first').focus();
        {#$('form').find('*').filter(':input:visible:first').select();#}
    };

    function addNewRow(row) {
        addRow(row);
        $("#{{ key }}_body").append($("#{{ key }}_foot"))
    };

    function updateActions(num) {
        let actions = $("#{{  key  }}_body").data('actions');
        let newactions = actions + num;
        $("#{{  key  }}_body").data('actions', newactions);
    }

    function updateTableNumRow(numRows) {

        $("#{{  key  }}_body").data('numrows', numRows);
        $("#{{  key  }}_numrows").text("Righe: " + numRows);
        $("#{{  key  }}_numrowso").text("Righe: " + numRows);

    };

    function showRemove() {
        $(".remove_row").each(function () {
            $(this).removeClass("d-none");
        });
    }

    function hideRemove() {
        $(".remove_row").each(function () {
            $(this).addClass("d-none");
        });
    }

    $.ajax({
        type: "GET",
        url: "/client/grid/{{ key }}/{{ id_form }}/rows/{{ id_submission }}",
        data: {},
        beforeSend: function () {
            $("#loader").removeClass("d-none");
            $("#{{ key }}_foot").addClass("d-none");
        },
        error: function (e) {
            $("#loader").addClass("d-none");
            alert("Errore Interno conttatare Helpdesk", e);
        },
        success: function (result) {
            let maxrows = $("#{{  key  }}_body").data('maxrows');
            addRows(result.rows);
            $(this).data("data_numrows", result.numrows);
            if (result.rows.length < maxrows) {

                $("#{{ key }}_foot").removeClass("d-none");

            }
            updateTableNumRow(result.rows.length);
            updateActions(result.rows.length);
            $("#loader").addClass("d-none");
        },
    });

    $("#{{ key }}_btn_add").on("click", function () {
        let numrows = $("#{{  key  }}_body").data('numrows');
        let maxrows = $("#{{  key  }}_body").data('maxrows');
        let actions = $("#{{  key  }}_body").data('actions');

        $.ajax({
            type: "GET",
            url: "/client/grid/{{ key }}/{{ id_form }}/" + actions + "/newrow",
            data: {},
            beforeSend: function () {
                hideRemove();
                $("#{{ key }}_foot").addClass("d-none");
                $("#loader").removeClass("d-none");
            },
            error: function (e) {
                $("#loader").addClass("d-none");
                alert("Errore Interno conttatare Helpdesk", e);
            },
            success: function (result) {
                if (numrows < maxrows) {
                    addNewRow(result.row);
                    let newnumrows = numrows + 1;
                    updateTableNumRow(newnumrows);
                    updateActions(1);
                    $("#{{ key }}_foot").removeClass("d-none");
                }
                showRemove();
                $("#loader").addClass("d-none");
            },
        });
    });

    function removeRow(rowid) {
        hideRemove()
        let numrows = $("#{{  key  }}_body").data('numrows');
        let minrows = $("#{{  key  }}_body").data('minrows');
        let maxrows = $("#{{  key  }}_body").data('maxrows');
        let newrows = numrows - 1;
        if (numrows > minrows) {
            $(rowid).remove();
            updateTableNumRow(newrows);
        }
        if (newrows > minrows) {
            showRemove();
        }
        if (newrows < maxrows) {
            $("#{{ key }}_foot").removeClass("d-none");
        }
    }


</script>