<html>
<head>
    <title>INRiM {{ app_name }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/favicon/favicon.ico">
    <meta name="theme-color" content="#0066CC">
    <meta http-equiv="refresh" content="{{ period if period else 3600 }}" >
    <link rel="stylesheet" type="text/css" href="/static/css/project.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-italia.min.css">
{#    <link rel="stylesheet" type="text/css" href="/static/css/sticky-footer.css">#}
    <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/qr/css/qrcode-reader.min.css"/>

    {% block styles %}{% endblock %}

</head>
<body>
<script nonce="2726c7f26c">window.__PUBLIC_PATH__ = "/static/fonts"</script>
<script type="text/javascript" src="/static/js/bootstrap-italia.bundle.min.js" nonce="2726c7f26c"></script>
<script type="text/javascript" src="/static/DataTables/datatables.min.js" nonce="2726c7f26c"></script>
<script type="text/javascript" src="/static/qr/js/qrcode-reader.min.js" nonce="2726c7f26c"></script>


{% include '/italia/templates/header.html' %}
<main class="mt-4">
    <div id="loader" class="loading d-none">Loading&#8230;</div>
    {% block content %}{% endblock %}
</main>
{% block footer %}
<footer class="footer it-footer p-1">
    <div class="it-footer-sm ">
        <div class="container pl-2">
            <div class="row">
                <div class="col-2">
                    <h3 class="sr-only">Sezione Link Utili</h3>
                    <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
                        <li class="list-inline-item">
                            <a href="https://sir.ininrim.it/it_IT/" title="inrim" target="_blank">Inrim SIR</a>
                        </li>
                    </ul>
                </div>
                <div class="col-8">
                </div>
                <div class="col-2 text-right ">
                    <span class="">Version: {{ version }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-right">
        <a href="#" aria-hidden="true" data-attribute="back-to-top" class="back-to-top back-to-top-small shadow">
            <svg class="icon icon-light">
                <use xlink:href="/static/svg/sprite.svg#it-arrow-up"></use>
            </svg>
        </a>
    </div>
</footer>
{% endblock %}
{% block js %}
{% endblock %}
<script type="text/javascript" nonce="{{nonce or '2726c7f26c'}}">
    window.addEventListener("pageshow", function (event) {
        var historyTraversal = event.persisted ||
            (typeof window.PerformanceNavigation != "undefined" &&
                window.PerformanceNavigation.type === 2);
        if (historyTraversal) {
            // Handle page restore.
            window.location.reload();
        }
    });
</script>
</body>
</html>
